<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>Body:</strong>
  <%= @book.body %>
</p>

<a class="edit_11911" href="/books_11911/edit">Edit</a>
 |
<a class="back" href="/books">Back</a>